@use '../../styles/mixins';
@use '../../styles/templates';

.container {
  @include mixins.container(900px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f5f5;
  color: black;
  border-radius: 20px;
}

.heading {
  @extend %heading;
}

.errorMessage {
  @extend %errorMessage;
}